# Raw datasets
data/raw/

# macOS
.DS_Store

# Temporary files
*.tmp
# Generated processed datasets
data/processed/

data/ecommerce.db
# Tableau temporary files
*.twbr

# Python cache
__pycache__/
*.pyc
